In [1]:
# Make plots with smashplot

import smasharchive, smashplots

db = smasharchive.smashdb()
db.print_header()
db.tournament_name_skip['kansai'] = 1
db.tournament_name_skip['beast7'] = 1
db.refilter_archive()

smashplots.plot_char_use(db, 'NA-char-')

initiatlizing smashdb

SMASH ARCHIVE QUERY RESULTS

| Name             | Players | data-points |  Region |  Version |
|:-----------------|--------:|------------:|--------:|---------:|
| 2016 genesis 3   |     238 |         176 |      NA |        U |
| 2016 pound       |     107 |         137 |      NA |        U |
| 2016 goml        |      83 |         102 |      NA |        U |
| 2016 snosa2      |      96 |          94 |      NA |        U |
| 2017 beast7      |      43 |          45 |  Europe |        U |
| 2016 ssc         |     314 |         211 |      NA |        U |
| 2017 genesis 4   |     185 |         182 |      NA |        U |
| 2016 shine       |     109 |         110 |      NA |        U |
| 2016 apex        |      54 |          63 |      NA |        U |
| 2016 summit      |      28 |          56 |      NA |        U |
| 2016 superboomed |      80 |          87 |      NA |        U |
| 2016 bossbattle2 |      90 |          93 |      NA |        U |
| 2016 dpotg       |      73 |          86 |      NA |        U |
| 2017 kansai      |      57 |          68 |   Japan |        J |

* Includes pools games through gf2
* Number of players in query: 290
* Number of games in query: 1510

In [7]:
# CHAR USE TABLES
db = smasharchive.smashdb()
db.print_header()
db.tournament_name_skip['kansai'] = 1
db.tournament_name_skip['beast7'] = 1
db.level_limits = [5,9]
db.refilter_archive()
db.print_chargames_stats()

initiatlizing smashdb

SMASH ARCHIVE QUERY RESULTS

| Name             | Players | data-points |  Region |  Version |
|:-----------------|--------:|------------:|--------:|---------:|
| 2016 genesis 3   |     238 |         176 |      NA |        U |
| 2016 pound       |     107 |         137 |      NA |        U |
| 2016 goml        |      83 |         102 |      NA |        U |
| 2016 snosa2      |      96 |          94 |      NA |        U |
| 2017 beast7      |      43 |          45 |  Europe |        U |
| 2016 ssc         |     314 |         211 |      NA |        U |
| 2017 genesis 4   |     185 |         182 |      NA |        U |
| 2016 shine       |     109 |         110 |      NA |        U |
| 2016 apex        |      54 |          63 |      NA |        U |
| 2016 summit      |      28 |          56 |      NA |        U |
| 2016 superboomed |      80 |          87 |      NA |        U |
| 2016 bossbattle2 |      90 |          93 |      NA |        U |
| 2016 dpotg       |      73 |          86 |      NA |        U |
| 2017 kansai      |      57 |          68 |   Japan |        J |

* Includes pools games through gf2
* Number of players in query: 290
* Number of games in query: 1510


* Total games 382.0 (two characters appear per game)
* Number of players in query: 40
* Number of games in query: 382

|     char     | # appearances | % of total |
|:-------------|--------------:|-----------:|
| pika         |         329.0 |       0.43 |
| yoshi        |         131.0 |       0.17 |
| kirby        |         126.0 |       0.16 |
| falcon       |          61.0 |       0.08 |
| fox          |          44.0 |       0.06 |
| puff         |          25.0 |       0.03 |
| dk           |          18.0 |       0.02 |
| mario        |          11.0 |       0.01 |
| link         |           9.0 |       0.01 |
| ness         |           5.0 |       0.01 |
| samus        |           3.0 |       0.00 |
| luigi        |           2.0 |       0.00 |

In [8]:
# CHAR USE TABLES
db = smasharchive.smashdb()
db.print_header()
db.tournament_name_skip['beast7'] = 1
db.tournament_name_skip['genesis 4'] = 1
db.tournament_year_skip['2016'] = 1
db.level_limits = [0,9]
db.refilter_archive()
db.print_chargames_stats()

initiatlizing smashdb

SMASH ARCHIVE QUERY RESULTS

| Name             | Players | data-points |  Region |  Version |
|:-----------------|--------:|------------:|--------:|---------:|
| 2016 genesis 3   |     238 |         176 |      NA |        U |
| 2016 pound       |     107 |         137 |      NA |        U |
| 2016 goml        |      83 |         102 |      NA |        U |
| 2016 snosa2      |      96 |          94 |      NA |        U |
| 2017 beast7      |      43 |          45 |  Europe |        U |
| 2016 ssc         |     314 |         211 |      NA |        U |
| 2017 genesis 4   |     185 |         182 |      NA |        U |
| 2016 shine       |     109 |         110 |      NA |        U |
| 2016 apex        |      54 |          63 |      NA |        U |
| 2016 summit      |      28 |          56 |      NA |        U |
| 2016 superboomed |      80 |          87 |      NA |        U |
| 2016 bossbattle2 |      90 |          93 |      NA |        U |
| 2016 dpotg       |      73 |          86 |      NA |        U |
| 2017 kansai      |      57 |          68 |   Japan |        J |

* Includes pools games through gf2
* Number of players in query: 290
* Number of games in query: 1510


* Total games 68.0 (two characters appear per game)
* Number of players in query: 32
* Number of games in query: 68

|     char     | # appearances | % of total |
|:-------------|--------------:|-----------:|
| kirby        |          24.0 |       0.18 |
| falcon       |          23.0 |       0.17 |
| yoshi        |          20.0 |       0.15 |
| pika         |          17.0 |       0.12 |
| fox          |          16.0 |       0.12 |
| link         |          14.0 |       0.10 |
| puff         |          10.0 |       0.07 |
| ness         |           8.0 |       0.06 |
| dk           |           2.0 |       0.01 |
| mario        |           2.0 |       0.01 |